body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll !important;
}
.logo-img {
    width: 100px;
    height: 100px;
}
h1, h2, h3, .logo {
    font-family: 'Playfair Display', serif;
}

button {
    font-size: 16px;
    font-weight: normal;
}
button span{
    z-index: 9;
    position: relative;
}
.btn-danger {
    background: #dd3546;
    color: white;
    font-size: 14px;
    transition: 0.5s;
    position: relative;
    border: none;
    overflow: hidden;
}
.btn-danger::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 0;
    transition: left 0.5s ease;
}

.btn-danger:hover::after {
    left: 0; 
}

.btn-danger span{
    position: relative;
}
.btn-danger:hover span{
    color: #fff !important;
    z-index: 99;
}

.btn-warning {
    background: fcb21c;
    color: white;
    font-size: 14px;
    transition: 0.5s;
    position: relative;
    border: none;
    overflow: hidden;
}
.btn-warning::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 0;
    transition: left 0.5s ease;
}

.btn-warning:hover::after {
    left: 0; 
}

.btn-warning:hover{
    color: #fcb21c;
}

.hero-section {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(45deg, #dd3546, #dd354699);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.hero-section h1 {
    font-size: 70px;
    color: #ffc107e3;
}

.hero-section p{
    color: white;
}
.owl-carousel {
    position: relative;
    overflow: hidden;
}

.owl-stage-outer {
    background: linear-gradient(45deg, #dd3546, #dd354642);
    padding: 20px;
    border-radius: 20px;
}
.owl-nav {
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 5px;
    gap: 20px;
    margin-top: 14px;
}
.owl-nav button {
    background: linear-gradient(45deg, #dd3546, #f6bbbff7) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: white !important;
    border-radius: 100px;
}
.owl-nav button.disabled {
    background: #ff000033 !important;
    cursor: no-drop !important;
}
 .category-scroll-container::-webkit-scrollbar {
        display: none; /* Hides scrollbar for Chrome/Safari */
}

.category-slide-alpine {
        flex: 0 0 auto;
        width: 150px;
        height: 100px;
        border-radius: 12px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: end;
        justify-content: center;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.2s, border 0.2s;
        border: 3px solid #d7715f;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
        position: relative;
}
.category-slide-alpine::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    right: 0;
    height: 0;
    background: #dd354663;
    transition: 0.5s;
    z-index: 9;
}

.category-slide-alpine:hover::after {
    top: 0;
    height: 100%;
}

.category-slide-alpine.active-category::after {
    top: 0;
    height: 100%;
}
.category-slide-alpine span{
    color: white;
    z-index: 99;
    display: inline-block;
}

.feature-icon {
    background: #ffc10724;
    width: 80px;
    height: 80px;
    margin: auto;
    padding: 20px;
    border-radius: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Area Selector  */
.area-selector-alert {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Check out page  */
.checkout-page, .order-tracker-page {
    background: linear-gradient(45deg, #dc3545, transparent);
}
.discount-alerts .alert {
    background-color: #017f0029;
    border-left: 3px solid #1b8755 !important;
}
.form-control:focus, .form-select:focus {
    border: 1px solid !important;
    border-color: #c41e3a !important;
    box-shadow: none !important;
    outline: none !important;
}
.form-check-input:checked {
    background-color: #dd3546;
    border-color: #ffc107;
}

.discount-badge.bg-danger {
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 9;
    right: 8px;
    border-radius: 30px;
    top: 5px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .hero-section{
        height: 70dvh;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .hero-section h1 {
        font-size: 40px;
    }
   .mobile-nav .logo-img {
    width: 70px;
    height: 70px;
   }
   p,span, button , label , input, .form-control, .form-select,li {
    font-size: 14px !important;
   }

}